@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: #414141;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url("image/color-pixels-magic-mint-cursor.png"), auto;
}

* {
  font-family: 'VT323', monospace;
  color: #b2c18b;
  cursor: url("image/color-pixels-magic-mint-cursor.png"), auto;
}


#container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 236, 236);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  height: 70vh;
}


#gameCanvas {
  background-color: #abb78a;
  background-image: url("https://github.com/Ade-mir/snake-game-js/blob/main/snake-game-ai-gen.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#score {
  font-size: 100px;
}

#reset {
  font-size: 2vh;
  width: 8vh;
  height: 8vh;
  border: 4px solid;
  border-color: 0;
  color: white;
  background-color: red;
  border-radius: 50px;
  transform: rotate(-30deg);
}

#score-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.touchpad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("image/touchpad.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:1300px) {
  #gameCanvas {
   width: 50vh;
   height: 60vh; 
  }
}
