@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: rgb(37, 36, 36);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url("image/color-pixels-magic-mint-cursor.png"), auto;
}

* {
  font-family: 'VT323', monospace;
  color: #b2c18b;
  cursor: url("image/color-pixels-magic-mint-cursor.png"), auto;
}


#container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(249 249 249);
  background: linear-gradient(90deg, rgba(128, 128, 128, 1) 0%, rgba(255, 255, 255, 1) 4%);
  text-align: center;
  padding: 2vh;
  border-radius: 15px;
  height: 90vh;
}

#gameCanvas {
  display: flex;
  background-color: #abb78a;
  background-image: url("https://github.com/Ade-mir/snake-game-js/blob/main/snake-game-ai-gen.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.score-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}

#score {
  font-size: 7vh;
  color: black;
  text-align: left;
}

.text {
  text-align: center;

  color: black;
}

#highScore {
  font-size: 7vh;
  color: #abb78a;
  text-align: right;
}


#reset {
  font-size: 2vh;
  width: 8vh;
  height: 8vh;
  border: 4px solid;
  border-color: 0;
  color: white;
  background-color: red;
  border-radius: 50px;
  transform: rotate(-30deg);
}

.touchpad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("image/touchpad.PNG");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width:1300px) {
  #gameCanvas {
    width: 50vh;
    height: 60vh;
  }

  .touchpad {
    background-size: cover;
  }
}

@media screen and (min-width:1300px) {
  .touchpad {
    background-size: cover;
  }
}


@media screen and (max-height: 750px) {
  #gameCanvas {
    width: 60vh;
    min-height: 40vh;
  }

  #reset {
    font-size: 3vh;
    width: 10vh;
    height: 10vh;
  }
}
